@import "tailwindcss";

@layer utilities {
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(8px) scale(0.98);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-fade-slide {
    animation: fadeSlide 0.6s ease-in-out;
  }
}

:root {
  --primary: #25937f;
  --primary-dark: #1d7667;
  --secondary: #f9b233;
  --secondary-dark: #f7a71b;
  --text-dark: #1e1e1e;
  --text-light: #f6f6f6;
  --bg-light: #f6f6f6;
  --bg-dark: #1e1e1e;
}

